<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/5ae10de4e2.js" crossorigin="anonymous"></script>
  <title>Todo list</title>
</head>

<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto mt-5">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="fa-regular fa-calendar"></i> Today</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/bucket-list"><i class="fa-brands fa-fly"></i> Bucket List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <main>
